{{ $paginator := .Paginator }}
<ul class="pagination">
  {{ if $paginator.HasPrev }}
    <li class="pagination__item pagination__item--previous">
      <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
        Previous
      </a>
    </li>
  {{ end }}
  {{ if $paginator.HasNext }}
    <li class="pagination__item pagination__item--next">
      <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
        Next
      </a>
    </li>
  {{ end }}
</ul>
