.photoblog ul {
	margin: 0;
	padding: 0;
}

.photoblog li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.photoblog {
	width: 80%;
}

.photoblog.archive{
	width:100%;
}

.single .post .post-header {
	position: inherit;
}

.single .post .post-title{
	position: inherit;
	text-align: center;
}

.archive .posts .post{
	display: inline;
	list-style-type:none;
}

.archive .posts .post-link:hover {
	border:none;
}

.archive .posts .post-featured-image{
	width: 200px;
	height:auto;
}

.archive .post .post-link {
	border: none;
}

.archive .post .post-link img:hover {
	border: none;
}

.single .post .post-body ul{
}

.single .post .post-body ul li{
}

.single .post .post-body ul li a{
	display: block;
}

.single .post .post-body ul li img{
	width: 100%;
}
