<ol class="flex nav navbar-nav breadcrumbs">
    {{ template "breadcrumbnav" (dict "page" . "currentPage" .) }}
</ol>
{{ define "breadcrumbnav" }}
  {{ if .page.Parent }}
    {{ template "breadcrumbnav" (dict "page" .page.Parent "currentPage" .currentPage )  }}
  {{ else if not .page.IsHome }}
    {{ template "breadcrumbnav" (dict "page" .page.Site.Home "currentPage" .currentPage )  }}
  {{ end }}

  {{ if and (not .page.IsHome) (ne .currentPage .page.FirstSection) }}
  <li style="padding: 0 0.3rem;" {{ if eq .page .currentPage }}class="active" aria-current="page" {{ end }}>
    {{ if eq .page .currentPage }}
      <span>{{ .page.Title }}</span>
    {{else}}
      <a href="{{ .page.Permalink }}">{{ .page.Title }}</a>
    {{ end }}
  </li>
  {{ end }}
{{ end }}