<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <title>{{documentTitle}}</title>
  <link rel="stylesheet" href="index.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="user-scalable=no,width=device-width" >
  <meta name="Description" content="I am a web applications engineer working in Raleigh, North Carolina. Originally from Ventura, California, I carry the ocean in my soul; my style is laid back but passionate. I'm a self proclaimed anthropologist, writer, and photographer. I make RL things as well as web things. I suppose if you need more I could also add husband, father, mild foodie, architecture appreciator, and tinkerer.">

</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <img src="{{headShot.url}}" class="avatar" />
    <p class="motto">Wonderer, explorer, creator.</p>
   </header>
  <section>
    {{{content}}}
  </section>
  <footer>1981-{{getCurrentYear}} - {{owner}}</footer>
</body>
</html>
